body {
    /* background: linear-gradient(to bottom, #3498db, #0059b2);  */
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .profile{
    background: white;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .box {
    position: relative;
    height: 56px;
    width: 60%;
    background-color: transparent; /* Change the color as needed */
    
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 30px;
    transition: background-color .5s;
    
  }

  .box:hover{
      background-color: white;
  }
  .circle {
    position: absolute;
    right: 5px;
    width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5); /* Blur background color */
    border-radius: 50%;
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for centering */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    cursor: pointer;
    padding: 7px;
  }

  .dot {
    
    width: 4px;
    height: 4px;
    background-color: #333; /* Dot color */
    border-radius: 50%;
  }
  .circle:hover{
    background-color: transparent;
  }
